// config for lodestone

params {

  // help message
  help = ''

  // input directory
  input_dir = ""

  // filetype fastq or bam
  filetype = 'fastq'

  // glob pattern for input files
  pattern = '*_R{1,2}.fastq.gz'

  // output directory
  output_dir = ""

  // unmix myco 'yes' or 'no'
  unmix_myco = 'no'

  // principal species in each sample, assuming genus Mycobacterium, default null
  // otherwise takes 1 of 10 values: abscessus, africanum, avium, bovis, chelonae, chimaera, fortuitum, intracellulare, kansasii, tuberculosis
  species = 'null'

  // path to resouces
  resources_dir = "${baseDir}/resources"

  // path to kraken2 database
  kraken_db = ""

  // path to bowtie2 index
  bowtie2_index = ""

  // name of the bowtie index, e.g. hg19_1kgmaj
  bowtie_index_name = "hg19_1kgmaj"

  // run VCFMIX 'yes' or 'no' (set to no for synthetic samples)
  vcfmix = 'yes'

  // run gnomon 'yes' or 'no'
  gnomon = 'yes'

  // path to AMR catalogue for gnomon
  // https://github.com/oxfordmmm/tuberculosis_amr_catalogues available at path /tuberculosis_amr_catalogues in container
  amr_cat = "/tuberculosis_amr_catalogues/catalogues/NC_000962.3/WHO-UCN-GTB-PCI-2021.7.GARC.csv"

  // path to singularity recipes (needed for getversion)
  sing_dir = "${baseDir}/singularity"

}

profiles {
  singularity {

    singularity.enabled = 'true'
    singularity.autoMounts = 'true'

    // path to the singularity containers
    singularity.cacheDir = "${baseDir}/singularity"

    process {
      withLabel:normal_CPU { cpus = 8 }
      withLabel:low_memory { memory = '5GB' }
      withLabel:medium_memory { memory = '10GB' }
      withLabel:high_memory { memory = '18GB' }

      withLabel:getversion {
        container = "quay.io/pathogen-genomics-cymru/preprocessing:0.9.4"
      }

      withLabel:preprocessing {
        container = "quay.io/pathogen-genomics-cymru/preprocessing:0.9.4"
      }

      withName:downloadContamGenomes {
        // disable strict error checking to allow for non-matching lines in linktestlog.txt
        shell = ['/bin/bash','-u']
      }

      withLabel:clockwork {
        container = "quay.io/pathogen-genomics-cymru/clockwork:0.9.4"
      }

      withLabel:vcfpredict {
        container = "quay.io/pathogen-genomics-cymru/vcfpredict:0.9.4"
      }

    }
  }

  sp3 {

    singularity.enabled = 'true'
    singularity.autoMounts = 'true'

    // path to the singularity containers
    singularity.cacheDir = "/data/images"

    process {
      scratch = true
      errorStrategy = 'ignore'

      withLabel:normal_CPU { cpus = 8 }
      withLabel:low_memory { memory = '5GB' }
      withLabel:medium_memory { memory = '10GB' }
      withLabel:high_memory { memory = '18GB' }

      withLabel:getversion {
        container = "quay.io/pathogen-genomics-cymru/preprocessing:0.9.4"
      }

      withLabel:preprocessing {
        container = "quay.io/pathogen-genomics-cymru/preprocessing:0.9.4"
      }

      withName:downloadContamGenomes {
        // disable strict error checking to allow for non-matching lines in linktestlog.txt
        shell = ['/bin/bash','-u']
      }

      withLabel:clockwork {
        container = "quay.io/pathogen-genomics-cymru/clockwork:0.9.4"
      }

      withLabel:vcfpredict {
        container = "quay.io/pathogen-genomics-cymru/vcfpredict:0.9.4"
      }
    }
  }


  docker {

    docker.enabled = true
    fixOwnership = true
    runOptions = "-u \$(id -u):\$(id -g)"

    // define containers for each process
    process {
      withLabel:normal_CPU { cpus = 8 }
      withLabel:low_memory { memory = '5GB' }
      withLabel:medium_memory { memory = '10GB' }
      withLabel:high_memory { memory = '18GB' }

      withLabel:getversion {
        container = "quay.io/pathogen-genomics-cymru/preprocessing:0.9.4"
      }

      withLabel:preprocessing {
        container = "quay.io/pathogen-genomics-cymru/preprocessing:0.9.4"
      }

      withName:downloadContamGenomes {
        // disable strict error checking to allow for non-matching lines in linktestlog.txt
        shell = ['/bin/bash','-u']
      }

       withLabel:clockwork {
        container = "quay.io/pathogen-genomics-cymru/clockwork:0.9.4"
      }

      withLabel:vcfpredict {
        container = "quay.io/pathogen-genomics-cymru/vcfpredict:0.9.4"
      }
    }
  }
  
  agc {

    // define containers for each process
    process {
      withLabel:normal_CPU { cpus = 8 }
      withLabel:low_memory { memory = '5GB' }
      withLabel:medium_memory { memory = '10GB' }
      withLabel:high_memory { memory = '18GB' }

      withLabel:getversion {
        container = "quay.io/pathogen-genomics-cymru/preprocessing:0.9.4"
      }

      withLabel:preprocessing {
        container = "quay.io/pathogen-genomics-cymru/preprocessing:0.9.4"
      }

      withName:downloadContamGenomes {
        // disable strict error checking to allow for non-matching lines in linktestlog.txt
        shell = ['/bin/bash','-u']
      }

       withLabel:clockwork {
        container = "quay.io/pathogen-genomics-cymru/clockwork:0.9.4"
      }

      withLabel:vcfpredict {
        container = "quay.io/pathogen-genomics-cymru/vcfpredict:0.9.4"
      }
    }
  }
}

