/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params{
    //standardise all fastqs to fit this schema
    pattern = "*_{1,2}.fastq.gz"
    
    bowtie {
        bowtie2_index = "s3://microbial-bioin-sp3/bowtie_hg19"
        bowtie_index_name = "hg19_1kgmaj"
    }

    kraken {
        kraken_db = "s3://microbial-bioin-sp3/kraken_pluspf_16gb/"
    }

    afanc {
        afanc_myco_db = "s3://microbial-bioin-sp3/Mycobacteriaciae_DB_7.0/"
    }
    
    resources {
        resource_dir = "s3://microbial-bioin-sp3/lodestone_resources"
        refseq = "${resource_dir}/assembly_summary_refseq.txt"
    }        
}

aws {
    client {
        
            endpoint = 'https://s3.climb.ac.uk'
            s3PathStyleAccess = true
    }
}


profiles {
    e2e {
        params{
            input_dir = "s3://microbial-bioin-sp3/Lodestone_Testing_1.0/E2E_MTB"
            output_dir = "e2e_test_out"
        }
    }
}
