process {
   executor = 'k8s'
   pod = [[securityContext:[fsGroupChangePolicy:'OnRootMismatch', runAsUser:1000, runAsGroup:1000, fsGroup:1000]], [automountServiceAccountToken:false], [nodeSelector:'hub.jupyter.org/node-purpose=user'], [volumeClaim:'cephfs-shared-team', mountPath:'/shared/team'], [volumeClaim:'cephfs-shared-ro-public', mountPath:'/shared/public', readOnly:true]]
   queueSize = 30
}

k8s {
   runAsUser = 1000
   computeResourceType = 'Job'
}

aws {
   profile = 'climb'
   client {
      endpoint = 'https://s3.climb.ac.uk'
      s3PathStyleAccess = true
   }
}
