params{
    container_enabled = "true"
    container_enabled = "true"
}


process {
    update_tbprofiler = "false"
      
      
    withLabel:low_cpu {cpus = 2}
    withLabel:normal_cpu { cpus = 8 }
    withLabel:low_memory { memory = '5GB' }
    withLabel:medium_memory { memory = '10GB' }
    withLabel:high_memory { memory = '18GB' }

    withLabel:getversion {
        container = "quay.io/pathogen-genomics-cymru/preprocessing:0.9.8"
    }

    withLabel:preprocessing {
        container = "quay.io/pathogen-genomics-cymru/preprocessing:0.9.8"
    }
      
    withLabel:tbprofiler {
        container = "quay.io/pathogen-genomics-cymru/tbprofiler:0.9.8"
    }

    withName:downloadContamGenomes {
        shell = ['/bin/bash','-u']
        errorStrategy = { task.exitStatus in 100..113 ? 'retry' : 'terminate' }
        maxRetries = 5
   }

    withLabel:retryAfanc {
	    shell = ['/bin/bash','-u']
        errorStrategy = {task.exitStatus == 1 ? 'retry' : 'ignore' }
        maxRetries = 5
    }

    withLabel:clockwork {
        container = "quay.io/pathogen-genomics-cymru/clockwork:0.9.8"
    }

    withLabel:vcfpredict {
        container = "quay.io/pathogen-genomics-cymru/vcfpredict:0.9.8"
    }
 }